---
const cards = [
    { icon: "/src/assets/food.png", heading: "Food and non food items" },
    {
        icon: "/src/assets/medical.png",
        heading: "Medical assistance and dental care",
    },
    { icon: "/src/assets/mental.png", heading: "Mental health support" },
    { icon: "/src/assets/legal.png", heading: "Legal assistance" },
    { icon: "/src/assets/translation.png", heading: "Translation service" },
    {
        icon: "/src/assets/house.png",
        heading: "Safe housing for vulnerable categories",
    },
];

const longTermCards = [
    {
        icon: "https://intergreat-center.com/wp-content/uploads/2023/06/WhatsApp-Image-2022-08-02-at-15.09.53.jpeg",
        heading:
            "Language Learning: Offering Bosnian and English language classes",
        description:
            "INTERGreat offers Bosnian and English language classes to help asylum seekers and migrants integrate into their new communities. These classes provide essential language skills alongside cultural insights to ease their transition.",
    },
    {
        icon: "https://intergreat-center.com/wp-content/uploads/2023/06/DSCF1087-1024x683.jpg",
        heading: "Skill Training & Job Market Preparation",
        description:
            "We provide skill-building workshops to equip refugees and asylum seekers with tools needed to navigate the job market. From training programs to personalized guidance, we help individuals prepare for interviews and secure employment opportunities.",
    },
    {
        icon: "https://intergreat-center.com/wp-content/uploads/2023/06/Intergreat.jpg",
        heading: "Social Entrepreneurship & Employment:",
        description:
            "Our programs encourage social entrepreneurship, empowering refugees and asylum seekers to start businesses and become independent. We also partner with local employers to connect them with job opportunities.",
    },
    {
        icon: "https://intergreat-center.com/wp-content/uploads/2023/06/untitled-8-1024x683.jpg",
        heading: "Product & Service Support",
        description:
            "To support small business development, we assist in refining products and services while offering guidance on effective marketing strategies. Our goal is to help these ventures thrive in competitive markets.",
    },
];

import "../styles/global.css";
---

<style>
    .topPadding {
        padding-top: 4rem;
    }
    section {
        padding-top: 6rem;
    }

    .cardsSection {
        background-color: var(--bg-dark);
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-top: 1rem;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 150px;
        text-align: center;
        background-color: var(--bg-light);
    }
    .icon {
        padding: 1rem;
    }
    .heading {
        margin-top: 0.5rem;
    }
    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    button {
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #0056b3;
    }
    .long-term-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 100%;
        max-width: 400px;
        background-color: var(--bg-light);
    }
    .long-term-card .icon {
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border: transparent solid 1px;
        border-radius: 8px;
        padding: 0;
        margin: 1rem;
    }
    .long-term-card h4 {
        margin-top: 0.5rem;
        width: 100%;
        padding-inline: 1rem;
    }
    .long-term-card p {
        margin-top: 0.5rem;
        margin-inline: 1rem;
    }
    @media (max-width: 600px) {
        .long-term-card {
            width: 100%;
        }
    }

    .integration-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .integration-section img {
        border-radius: 8px;
    }
    .integration-section div {
        margin: 1rem;
    }
    @media (min-width: 600px) {
        .integration-section {
            flex-direction: row;
            align-items: flex-start;
        }
        .integration-section .text {
            width: 40%;
            min-width: 300px;
            height: auto;
        }
    }
</style>
<div class="cardsSection">
    <section class="pageWidth topPadding">
        <h2 class="fade-in-up observe">Our activities</h2>
        <p class="fade-in-up observe">
            We provide a range of services to help people on the move. Here are
            some of the activities we offer:
        </p>

        <section class="fade-in-up observe">
            <h3>First response activities</h3>
            <div class="cards-container">
                {
                    cards.map((card) => (
                        <div class="card">
                            <div class="icon">
                                <img src={card.icon} alt={card.heading} />
                            </div>
                            <div class="heading">{card.heading} </div>
                        </div>
                    ))
                }
            </div>
            <div class="button-container">
                <button>Learn more</button>
            </div>
        </section>

        <section>
            <h3>Long-Term Integration</h3>
            <p>
                We provide long-term support to help people integrate into
                society. Our services include:
            </p>

            <div class="cards-container">
                {
                    longTermCards.map((card) => (
                        <div class="long-term-card fade-in-up observe">
                            <div class="icon">
                                <img src={card.icon} alt={card.heading} />
                            </div>
                            <h4>{card.heading}</h4>
                            <p>{card.description}</p>
                        </div>
                    ))
                }
            </div>
            <div class="button-container">
                <button>Learn more</button>
            </div>
        </section>

        <section class="integration-section">
            <div class="image-container">
                <img
                    src="https://intergreat-center.com/wp-content/uploads/2023/06/Intergreat.jpg"
                    alt="Our vision"
                />
            </div>
            <div class="text">
                <h3>Cultural and social integration</h3>
                <p>
                    Cultural and social integration is a vital part of our
                    long-term integration program for asylum seekers and
                    refugees. We believe that by promoting cultural exchange and
                    social inclusion, we can help individuals and communities
                    thrive.
                </p>
                <div class="button-container">
                    <button>Learn more</button>
                </div>
            </div>
        </section>
    </section>
</div>
